<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <title>About</title>
  </head>
<body class="bg-gray-400">
        <%- include('partials/navbar', { page: "/about" }) %>
        <div class="flex items-center space-x-4">
          <h1><a href="/about" class="text-lg font-semibold active">About me</a></h1>
          
          </details>
        </div>
      <br><h1 class="text-4xl font-bold"></h1>   
        <div class="container mx-auto width: 100%;">
            <div class="hero-content flex-col lg:flex-row">
              <section class="hero bg-base-200 p-6 rounded-lg">
     
                <p class="mt-2">My name is Saurab Khadka and I am currently enrolled in Computer Programming at Senece College. In my free time, I love watching anime and movies, hangout out with friends and sleep. All about me and my Lego journey. Most of the time, I love building Lego sets and I am currently enrolled in a computer course to improve my web development skills at Seneca College.</p>
              </section>
          
              <div class="grid grid-cols-2 gap-4 mt-10">
                <div>
                  <img src="/images/anime1.jpg" alt="Your Image" class="w-full h-64 object-cover">
                </div>
                <div>
                  <p class="text-lg"> I love watching Animes personally. Out of them One peice is my all time favourite.</p>
                </div>
              </div>
              <div class="grid grid-cols-2 gap-4 mt-10">
                <div>
                  <img src="/images/avenger.jpeg" alt="Your Image" class="w-full h-64 object-cover">
                </div>
                <div>
                  <p class="text-lg">Lego are amazing. But out of all the legos i love avenger lego Sets</p>
                </div>
              </div>
            </div>
        </div>
</body>
</html>