<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Register</title>
  </head>
  <body>
    <%- include('partials/navbar', {page: '/register'}) %>

    <div class="container mx-auto my-5">
      <div
        class="hero rounded hero-lg bg-base-200 bg-cover bg-center"
        style="background-image: url(/images/944250.jpg)"
      >
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center m-6">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Register</h1>
            <p class="py-6">Please provide your credentials below</p>
          </div>
        </div>
      </div>

      <div>
        <form class="registerForm" action="/register" method="POST">
          <div class="form-control mt-5">
            <label for="userName">Username</label>
            <input
              class="input input-bordered input-primary w-full max-w"
              type="text"
              id="userName"
              name="userName"
              placeholder="User Name"
              required
            />
          </div>
          <div class="form-control mt-5">
            <label for="password">Password</label>
            <input
              class="input input-bordered input-primary w-full max-w"
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="form-control mt-5">
            <label for="confirmPassword">Confirm Password</label>
            <input
              class="input input-bordered input-primary w-full max-w"
              type="password"
              id="confirmPassword"
              name="password2"
              placeholder="Confirm Password"
              required
            />
          </div>
          <div class="form-control mt-5">
            <label for="email">Email</label>
            <input
              class="input input-bordered input-primary w-full max-w"
              type="email"
              id="email"
              name="email"
              placeholder="Email Address"
              required
            />
          </div>

          <button class="btn btn-primary mt-3" type="submit">Register</button>
        </form>

        <% if(errorMessage) { %>
        <div class="alert alert-error">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="stroke-current shrink-0 h-6 w-6"
            fill="none"
            viewBox="0 0 24
            24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-
            2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
          <span><%= errorMessage %></span>
        </div>
        <% } %> <% if(successMessage) { %>
        <div class="alert">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="stroke-current shrink-0 h-6 w-6"
            fill="none"
            viewBox="0 0 24
            24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9
            0 0118 0z"
            />
          </svg>
          <span><%= successMessage %></span>
        </div>
        <% } %>
        <br />
        <a href="/login" class="btn btn-success"> Proceed to Log in </a>
      </div>
    </div>
  </body>
</html>